  <div id="columnC_2columns">
                <h4>
                    <span>Social</span> networking</h4>
                <ul class="links">
                    <li class="first"><a href="http://www.facebook.com/" target="_blank">Face book</a></li>
                    <li><a href="http://www.twitter.com" target="_blank">Twitter</a></li>
                    <li><a href="http://www.google.com" target="_blank">Google Circles</a></li>
                    <li><a href="http://www.hi5.com" target="_blank">Hi5</a></li>
                    <li><a href="http://www.orkut.com" target="_blank">Orkut</a></li>
                </ul>
                <h4>
                    <span>Cool</span> Stuff</h4>
                <ul class="links">
                    <li class="first"><a href="http://www.nodethirtythree.com/">NodeThirtyThree</a></li>
                    <li><a href="http://www.4templates.com/?aff=n33">4Templates.com</a></li>
                    <li><a href="http://www.wpthemepark.com/">WPThemePark</a></li>
                    <li><a href="http://www.openwebdesign.org/userinfo.phtml?user=node33">OpenWebDesign</a></li>
                    <li><a href="http://www.zeroweb.org/">Zeroweb.org</a></li>
                </ul>
            </div>