@{
    ViewBag.Title = "Home";
 
    
}

  
        <div id="primaryContent_2columns">
            <div id="columnA_2columns">

                <h3>
                    What we do?</h3>
                <p>
                    Gurulogics offers comprehensive software development and customized solution delivery and
                    consulting services. For both small businesses and large enterprises, we build high
                    quality, flexible, robust solutions that enable organizations to focus on core competencies
                    while leaving software development and related activities to us. Our custom software
                    development services span the entire software development lifecycle; from requirements
                    definition, design and application development, to testing, maintenance and support.
                    Our project execution framework is well designed to deliver efficient and cost-effective
                    solutions on time from our state-of-the-art custom development facilities which
                    are fully equipped to manage multiple onsite and offshore software development projects
                </p>

                    <h3>
                    What we have done?</h3>
                
                <p>
                    Previously we've worked on quite a few applications ranging from desktop solutions
                    to portals, including web 2.0- portals using cutting edge technologies such as AJAX.
                    Technology wise, we are proudly a technology neutral vendor. Our solutions have
                    been developed using .NET, Java, PHP, Ruby on Rails or a custom 3rd party component.
                    Some of our solutions include: Online Job Portals
               
                </p>
                <ul>
                    <li>Online Webshops/Stores</li>
                    <li>Content Management Solutions</li>
                    <li>Social Networking Portals</li>
                    <li>Video Sharing Websites</li>
                </ul>

                    <h3>
                    How do we work?</h3>
                
                <p>
                   Although, we are very flexible in the way we work because our aim is to earn customer’s
                    trust and confidence through personal attention, passion for what we do and commitment
                    of work but our processes follow strict guidelines. This is done primarily, to ensure
                    high quality of the end-product. Our Working Criteria of doing any project are based
                    on these terms (with QA at each step): Procurement
    

               
                </p>
                  <ul>
                    <li>Specification Development</li>
                    <li>Implementation</li>
                    <li>Maintenance</li>
                    
                </ul>



                <br class="clear" />
                
            </div>
        </div>
        <div id="secondaryContent_2columns">
          @{RenderPartialExtensions.RenderPartial(this.Html, "_RightPane");}
        </div>
        <br class="clear" />

